{% extends "base.html" %}
{% load static %}
{% block content %}

    <!-- slider wrapper start -->
    <div class="slider-area">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div class="carousel-captions caption-1">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="content lr_banner_content_inner_wrapper">

                                        <h3 data-animation="animated fadeInUp">intro</h3>
                                        <h2 data-animation="animated fadeInUp"> <span class="e1"
                                                data-animation="animated fadeInUp">Y</span> <span class="e2"
                                                data-animation="animated fadeInUp">O </span><span class="e3"
                                                data-animation="animated fadeInUp">U </span> <span class="e4"
                                                data-animation="animated fadeInUp">‎ ‎ ‎ ‎ </span><span class="e5"
                                                data-animation="animated fadeInUp">C</span><span class="e6"
                                                data-animation="animated fadeInUp">A</span><span class="e7"
                                                data-animation="animated fadeInUp">N</span><span class="e8"
                                                data-animation="animated fadeInUp"></span></h2>

                                        <h4 data-animation="animated fadeInUp">Now Your Are<br>
                                            Challange</h4>
                                        <div class="slider_ring">
                                            <img src="{% static 'images/football/ring.png' %}" alt="img">
                                        </div>
                                        <div class="slider_ring1">
                                            <img src="{% static 'images/football/ring1.png' %}" alt="img">
                                        </div>
                                        <div class="slider_ball_img">
                                            <img src="{% static 'images/football/slider_img.png' %}" alt="img">
                                        </div>

                                        <div class="clear"></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class=" carousel-captions caption-2">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="content lr_banner_content_inner_wrapper">

                                        <h3 data-animation="animated fadeInUp">intro</h3>
                                        <h2 data-animation="animated fadeInUp"> <span class="e1"
                                                data-animation="animated fadeInUp">f</span> <span class="e2"
                                                data-animation="animated fadeInUp">o </span><span class="e3"
                                                data-animation="animated fadeInUp">o </span> <span class="e4"
                                                data-animation="animated fadeInUp">t</span><span class="e5"
                                                data-animation="animated fadeInUp">b</span><span class="e6"
                                                data-animation="animated fadeInUp">a</span><span class="e7"
                                                data-animation="animated fadeInUp">l</span><span class="e8"
                                                data-animation="animated fadeInUp">l</span></h2>

                                        <h4 data-animation="animated fadeInUp">Now Your Are<br>
                                            Challange</h4>
                                        <div class="slider_ring">
                                            <img src="{% static 'images/football/ring.png' %}" alt="img">
                                        </div>
                                        <div class="slider_ring1">
                                            <img src="{% static 'images/football/ring1.png' %}" alt="img">
                                        </div>
                                        <div class="slider_ball_img">
                                            <img src="{% static 'images/football/slider_img1.png' %}" alt="img">
                                        </div>

                                        <div class="clear"></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"><span
                            class="number"></span>
                    </li>
                    <li data-target="#carousel-example-generic" data-slide-to="1" class=""><span class="number"></span>
                    </li>

                </ol>
                <div class="carousel-nevigation">
                    <a class="prev" href="#carousel-example-generic" role="button" data-slide="prev"> <i
                            class="flaticon-up-arrow"></i>
                        <br> <span>01</span>
                    </a>
                    <a class="next" href="#carousel-example-generic" role="button" data-slide="next"> <i
                            class="flaticon-download-arrow"></i>
                        <br> <span>02</span>
                    </a>
                </div>

            </div>
        </div>

    </div>

    <!-- slider wrapper end -->



{% endblock %}
